<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste d'animé</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <h1>🥥 Ma liste d'<span class="font--color-secondary">animés</span></h1>
      <span><%= animes.length %></span>
    </header>

    <main>
      <section>
        <% if(animes.length) { %>

        <ol id="animes">
          <% for(let i = 0, l = animes.length; i < l; i++) { %>
          <li>
            <!-- Vignette d'un animé -->
            <article class="anime-box">
              <% const anime = animes[i] %>

              <!-- Image de l'animé -->
              <img class="anime-box__img" src="images/<%= anime.image %>" alt="Une image" />

              <!-- Informations -->
              <div class="anime-box__infos">
                <!-- Titre, tags et situation  -->
                <div class="anime-box__infos__primary">
                  <!-- Titre et situation -->
                  <div class="anime-box__infos__primary__ref">
                    <h3 class="anime-box__infos__primary__ref__title"><%= anime.name %></h3>

                    <% if(anime.pending) { %>
                    <!-- En cours -->
                    <span class="anime-box__infos__primary__ref__statut">en cours</span>
                    <% } else if(anime.episodes) { %>
                    <!-- Épisodes et saisons -->
                    <span class="anime-box__infos__primary__ref__statut">
                      <span><%= anime.episodes %> eps</span>
                      <% if(anime.seasons) { %><span class="anime-seasons">/ <%= anime.seasons %> saisons</span><% } %>
                    </span>
                    <% } %>
                  </div>

                  <% if(anime.tags && anime.tags.length) { %>
                  <!-- tags -->
                  <div class="anime-box-tags">
                    <% for(let i = 0, l = anime.tags.length; i < l; i++) { %>
                    <span class="anime-box-tag--<%= anime.tags[i].replace(/\s+/g, '-') %>"><%= anime.tags[i] %></span>
                    <% } %>
                  </div>
                  <% } %>
                </div>

                <% if(typeof anime.rating == 'number') { %>
                <!-- Note de l'animé (par moi) -->
                <div class="anime-box-note">
                  <span class="anime-box-note-rating"><%= anime.rating %> / 5</span>
                </div>
                <% } %>
              </div>
            </article>
          </li>
          <% } %>
        </ol>

        <% } else { %>
        <div></div>
        <% } %>
      </section>
    </main>

    <footer>
      <a target="_blank" href="https://discord.gg/cMgGaDpuay">Vers mon serveur Discord</a>
    </footer>
  </body>
</html>
