<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Liste d'animé</title>
    <link rel="icon" href="images/page-icon.png" type="image/icon type" />

    <!-- EMBED -->
    <meta content="🥥 Nat' :: Animes list" property="og:title" />
    <meta content="Ma propre liste de <%= animes.length %> animés !" property="og:description" />
    <meta content="https://animes.natchy.xyz" property="og:url" />
    <meta content="https://animes.natchy.xyz/images/embed-image.png" property="og:image" />
    <meta content="#c6aed2" data-react-helmet="true" name="theme-color" />

    <!-- SCRIPT -->
    <script src="https://kit.fontawesome.com/cf8a7aebe3.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <h1>🥥 Ma liste d'<span class="font--color-secondary">animés</span></h1>
      <span><%= animes.length %></span>
    </header>

    <main>
      <section>
        <!-- Filtre de la liste d'animé -->
        <div id="animes-filter">
          <label class="search-bar" for="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" id="search-bar" name="animes-search" placeholder="Rechercher par nom" />
          </label>

          <div id="tags__burger">
            <span><i class="fas fa-tags"></i>Tags</span>
            <i class="fas fa-angle-right"></i>
          </div>

          <div class="animes-filter__tags">
            <% const tags = []; animes.forEach(anime => (anime.tags || []).forEach(tag => tags.some(_ => _.name == tag) ? tags.find(current => current.name == tag).number++ : tags.push({ name: tag, number: 1 }))) %>

            <!-- Tags sélecteurs loop -->
            <% for (let i = 0, l = tags.length; i < l; i++) { const tag = tags[i] %>
            <a id="tag__<%= tag.name.replace(/\s+/g, '-') %>">
              <span class="animes-filter__tags__tag__number"><%= tag.number %></span>
              <%= tag.name %>
            </a>
            <% } %>
          </div>
        </div>

        <!-- Liste d'animé -->
        <ol id="animes">
          <% for(let i = 0, l = animes.length; i < l; i++) { %>
          <li>
            <!-- Vignette d'un animé -->
            <article class="anime-box">
              <% const anime = animes[i] %>

              <!-- Image de l'animé -->
              <img class="anime-box__img" src="images/<%= anime.image %>" alt="Une image" />

              <!-- Informations -->
              <div class="anime-box__infos">
                <!-- Titre, tags et situation  -->
                <div class="anime-box__infos__primary">
                  <!-- Titre et situation -->
                  <div class="anime-box__infos__primary__ref">
                    <h3 class="anime-box__infos__primary__ref__title"><%= anime.name %></h3>

                    <% if(anime.pending) { %>
                    <!-- En cours -->
                    <span class="anime-box__infos__primary__ref__statut">en cours</span>
                    <% } else if(anime.episodes) { %>
                    <!-- Épisodes et saisons -->
                    <span class="anime-box__infos__primary__ref__statut">
                      <span><%= anime.episodes %> eps</span>
                      <% if(anime.seasons) { %><span class="anime-seasons">/ <%= anime.seasons %> saisons</span><% } %>
                    </span>
                    <% } %>
                  </div>

                  <% if(anime.tags && anime.tags.length) { %>
                  <!-- tags -->
                  <div class="anime-box__tags">
                    <% for(let i = 0, l = anime.tags.length; i < l; i++) { %>
                    <span class="anime-box__tag--<%= anime.tags[i].replace(/\s+/g, '-') %>"><%= anime.tags[i] %></span>
                    <% } %>
                  </div>
                  <% } %>
                </div>

                <% if(typeof anime.rating == 'number') { %>
                <!-- Note de l'animé (par moi) -->
                <div class="anime-box__note">
                  <span class="anime-box__note__rating"><%= anime.rating %> / 5</span>
                  <span class="anime-box__note__stars">
                    <!-- Boucle qui compte le nombre d'étoile requise -->
                    <% for (let i = 0; i < 5; i++) { %>
                    <i class="<%= anime.rating > i ? (i + 1 - parseInt(anime.rating) > 0 ? 'fas fa-star-half-alt' : 'fas fa-star') : 'far fa-star' %>"></i>
                    <% } %>
                  </span>
                </div>
                <% } %>
              </div>
            </article>
          </li>
          <% } %>
        </ol>
      </section>
    </main>

    <footer>
      <a target="_blank" href="https://discord.gg/cMgGaDpuay">Vers mon serveur Discord</a>
    </footer>
  </body>
</html>
