/* --- ANIME-FILTER --- */
.search-bar,
.search-bar input,
.animes-filter__tags a,
#tags__burger {
  cursor: not-allowed;
}

#animes-filter {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.8rem;
  margin: 1.5rem auto 1.4rem;
}

.search-bar {
  padding: 0.2rem;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.search-bar > i {
  padding: 0 0.4rem;
}

.search-bar > input {
  border: none;
}

.search-bar > input:focus {
  outline: none;
}

.animes-filter__tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.animes-filter__tags a {
  border: solid 1px var(--color-secondary);
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 0.95rem;
  text-transform: uppercase;
}

.animes-filter__tags__tag__number {
  color: rgba(0, 0, 0, 0.75);
}

#tag__drame,
#tag__romance {
  border: solid 1px var(--color-red);
}

#tag__harem,
#tag__ecchi {
  border: solid 1px var(--color-pink);
}

#tag__action,
#tag__isekai,
#tag__slice-of-life,
#tag__sport {
  border: solid 1px var(--color-grey);
}

#tag__mecha,
#tag__SF,
#tag__fantasy {
  border: solid 1px var(--color-green);
}

#tag__politique,
#tag__comique {
  border: solid 1px var(--color-yellow);
}

#tags__burger {
  display: none;
}

/* --- ANIME-BOX --- */
.anime-box {
  position: relative;
  height: 3.6rem;

  display: flex;
  margin: 6px 0;
  background-color: var(--color-primary);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);

  transition: 0.1s ease-out;
}

.anime-box__img {
  border-right: var(--color-tertiary) solid 2px;
}

/* Boite d'information de boite */
.anime-box__infos {
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  padding: 0.5rem 0.25rem;
  white-space: nowrap;
}

.anime-box__infos__primary {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anime-box__infos__primary__ref {
  max-width: 95%;
  overflow: hidden;

  display: flex;
  align-items: start;
}

.anime-box__infos__primary__ref__title,
.anime-box__infos__primary__ref__title::before {
  font-size: 1.1rem;
  font-weight: bold;
}

.anime-box__infos__primary__ref__title {
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0.1rem;
}

.anime-box__infos__primary__ref__title::before {
  content: '#';
}

.anime-box__infos__primary__ref__statut {
  margin-left: 0.1rem;
  padding: 0.2rem 0.4rem 0.1rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
  font-size: 0.85rem;
}

/* Tags */
.anime-box__tags {
  display: flex;
}

.anime-box__tags span {
  margin: 0 0.1rem;
  padding: 0.15rem 0.3rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

span.anime-box__tag--drame,
span.anime-box__tag--romance {
  background-color: var(--color-red);
}

span.anime-box__tag--harem,
span.anime-box__tag--ecchi {
  background-color: var(--color-pink);
}

span.anime-box__tag--action,
span.anime-box__tag--isekai,
span.anime-box__tag--slice-of-life,
span.anime-box__tag--sport {
  background-color: var(--color-grey);
}

span.anime-box__tag--mecha,
span.anime-box__tag--SF,
span.anime-box__tag--fantasy {
  background-color: var(--color-green);
}

span.anime-box__tag--politique,
span.anime-box__tag--comique {
  background-color: var(--color-yellow);
}

/* NOTE */
.anime-box__note__rating {
  padding-right: 6px;
  border-right: var(--color-secondary) 2px solid;
  font-size: 1.2rem;
}

.anime-box__note__stars {
  display: none;
}

@media screen and (min-width: 768px) {
  #animes-filter {
    flex-direction: row;
    align-items: stretch;
  }

  .animes-filter__tags a {
    display: none;
  }

  #tags__burger {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  }

  #tags__burger > span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  #animes {
    margin: 0 auto;
    width: 40rem;
  }
}

@media screen and (min-width: 1024px) {
  #animes {
    width: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin: 0 2rem;
  }

  .anime-box {
    height: initial;
    width: 20rem;
    flex-direction: column;
    margin: 0;
    padding: 0.2rem 0.3rem;
  }

  .anime-box:hover {
    transform: scale(1.05);
  }

  .anime-box__img {
    border-right: none;
    border-bottom: var(--color-tertiary) solid 2px;
  }

  .anime-box__infos {
    width: calc(100% - 0.6rem);
    flex-direction: column;
    gap: 2.5rem;
  }

  .anime-box__infos__primary {
    margin: 0;
    justify-content: start;
    gap: 0.5rem;
  }

  .anime-box__infos__primary__ref {
    max-width: 100%;
    justify-content: space-between;
  }

  .anime-box__infos__primary__ref__statut {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    margin: 0;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
  }

  .anime-box__tags {
    flex-wrap: wrap;
  }

  .anime-box__tags > span {
    font-size: 0.8rem;
  }

  .anime-box__note__rating {
    display: none;
  }

  .anime-box__note__stars {
    display: block;
    font-size: 1.4rem;
    color: var(--color-secondary);
  }
}

/*  
.anime-box-ref::before {
  padding: 0.2rem 0;
  content: '|';
  color: transparent;
  font-size: 1.2rem;
}
 
.anime-box-title {
  padding: 0.2rem 0.4rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: color 0.2s ease-out;
}

.anime-box-title::before {
  content: '# ';
  color: var(--color-tertiary-alpha);
  font-size: 1.2rem;

  transition: color 0.2s ease-out;
}

.anime-box-title:hover,
.anime-box-title:hover::before {
  position: absolute;

  transition: color 0.2s ease-out;
}

.anime-box-title:hover {
  padding-left: 25px;
  overflow: visible;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.anime-box-title:hover::before {
  left: 10px;
  color: var(--color-secondary);
}
*/
