html {
  font-family: sans-serif;
  background-color: lightgrey;

  --color-primary: whitesmoke;
  --color-secondary: #c6aed2;
  --color-tertiary: #2e2e2e;
  --color-tertiary-alpha: rgba(46, 46, 46, 0.2);
  --color-green: #5cbc74;
  --color-red: #f4807f;
}

body {
  width: 900px;
  margin: 30px auto;
  background-color: var(--color-primary);
  /* border-radius: 8px; */
}

.color-secondary {
  color: var(--color-secondary);
}

.flex-box--y {
  display: flex;
  flex-direction: column;
}

.flex-box--center {
  justify-content: center;
}

.flex-box--x {
  display: flex;
}

/* HEADER */
header {
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  margin-bottom: 2.5rem;
  padding: 2rem 0 1rem;
  background-color: var(--color-tertiary);
  /* border-radius: 8px 8px 0 0; */
  text-transform: uppercase;
  font-weight: bold;
}

header h1 {
  color: var(--color-primary);
  font-size: 2rem;
}

header #animes-size {
  padding: 0.4rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
  font-size: 0.7rem;
}

/* MAIN */
#animes-list {
  margin: 0 auto;
  width: 75%;
  gap: 0.4rem;
}

#animes-list article {
  padding: 0.3rem 0.5rem;
  justify-content: space-between;
}

article.anime {
  position: relative;
  height: 3.6rem;
  border: var(--color-tertiary) solid 1px;
  /* border-radius: 4px; */
  transition: 0.1s ease-out;
}

article.anime:hover {
  transform: scale(1.05);
}

.anime-img {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 100%;
  /* border-radius: 4px 0 0 4px; */
  border: var(--color-tertiary) solid 1px;
}

.anime-infos {
  position: relative;
  margin-left: 4rem;
  flex-grow: 1;
  justify-content: space-around;
  max-width: 74%;
}

.anime-ref::before {
  content: '|';
  color: transparent;
  font-size: 1.2rem;
}

.anime-title {
  margin-left: 0.4rem;
  max-width: 70%;
  text-transform: capitalize;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;

  transition: color 0.2s ease-out;
}

.anime-title::before {
  content: '# ';
  color: var(--color-tertiary-alpha);
  font-size: 1.2rem;

  transition: color 0.2s ease-out;
}

.anime-title:hover,
.anime-title:hover::before {
  position: absolute;
  left: 0;
  margin-top: -0.2rem;
  padding: 0.2rem 0.4rem;

  transition: color 0.2s ease-out;
}

.anime-title:hover {
  padding-left: 1.2rem;
  max-width: initial;
  overflow: visible;
  /* border-radius: 4px; */
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.anime-title:hover::before {
  left: -0.1rem;
  padding-right: 0;
  color: var(--color-secondary);
}

.anime-length {
  margin-left: 0.5rem;
  padding: 0.2rem 0.2rem 0.1rem;
  background-color: var(--color-tertiary-alpha);
  border-radius: 4px;
  align-items: center;
  font-size: 0.8rem;
}

.anime-seasons {
  margin-left: 0.2rem;
  font-size: 0.8rem;
}

.anime-tags > span {
  margin: 0 0.1rem;
  padding: 0.15rem 0.3rem 0.05rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.anime-note {
  display: flex;
  align-items: center;
}

.anime-rating {
  font-size: 1.5rem;
  font-weight: normal;
}

.anime-rating::after {
  content: 'â­';
  font-size: 1.8rem;
}

/* FOOTER */
footer > a {
  display: block;
  margin-top: 2.5rem;
  padding: 1rem 0;
  background-color: var(--color-tertiary);
  /* border-radius: 0 0 8px 8px; */
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);

  transition: 0.5s ease-out;
}

footer > a:hover {
  color: var(--color-secondary);
}
