html {
  font-family: sans-serif;

  --color-primary: whitesmoke;
  --color-secondary: #c6aed2;
  --color-tertiary: #2e2e2e;
  --color-tertiary-alpha: rgba(46, 46, 46, 0.2);
  --color-green: #5cbc74;
  --color-red: #f4807f;
  --color-pink: #f783b7;
  --color-yellow: #f9e26d;
  --color-grey: #d1d1d1;
  --color-blue: #99cefc;
  --color-orange: #f7ba80;
}

body {
  min-width: 52rem;
  background-color: var(--color-primary);
  /* border-radius: 8px; */
}

.color-secondary {
  color: var(--color-secondary);
}

.flex-box--y {
  display: flex;
  flex-direction: column;
}

.flex-box--center {
  justify-content: center;
}

.flex-box--x {
  display: flex;
}

/* HEADER */
header {
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  margin-bottom: 2.5rem;
  padding: 2rem 0 1rem;
  background-color: var(--color-tertiary);
  /* border-radius: 8px 8px 0 0; */
  text-transform: uppercase;
  font-weight: bold;
}

header h1 {
  color: var(--color-primary);
  font-size: 2rem;
}

header #animes-size {
  padding: 0.4rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
  font-size: 0.7rem;
}

/* MAIN */
#animes-list {
  max-width: 50rem;
  margin: auto;
}

/* FOOTER */
footer > a {
  display: block;
  margin-top: 2.5rem;
  padding: 1rem 0;
  background-color: var(--color-tertiary);
  /* border-radius: 0 0 8px 8px; */
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);

  transition: 0.5s ease-out;
}

footer > a:hover {
  color: var(--color-secondary);
}
