#animes-filter {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.8rem;
  margin: 1.5rem auto 1.4rem;
}

.search-bar {
  padding: 0.2rem;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.search-bar > i {
  padding: 0 0.4rem;
}

.search-bar > input {
  border: none;
}

.search-bar > input:focus {
  outline: none;
}

#tags-burger,
#tags-burger > select {
  display: none;
}

#tags-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  #animes-filter {
    flex-direction: row;
    align-items: stretch;
  }

  #tags-display {
    display: none;
  }

  #tags-burger {
    position: relative;
    display: flex;
  }

  #tags-burger > label {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  }

  #tags-burger > label > span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  #tags-burger > select {
    position: absolute;
    z-index: 1;
    top: 100%;
    display: block;
    min-height: 240px;
    width: 100%;
    padding: 0.4rem 0.2rem;
    border: none;
    border-radius: 0;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.75);
  }

  #tags-burger > select:focus {
    outline: none;
  }

  #tags-burger > select > option {
    padding: 0.4rem 0.4rem 0.25rem;
    margin: 0.2rem 0;
    border: 2px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.9rem;

    transition: 200ms ease-out;
  }

  #tags-burger > select > option:hover {
    border-color: var(--color-tertiary);
  }
}
